[Unit]
Description=Run TGC backup nightly

[Timer]
OnCalendar=*-*-* 02:15:00
Persistent=true
Unit=tgc-backup.service

[Install]
WantedBy=timers.target
